    @charset "utf-8"; //设置中文字符
    @mixin borderstyle($size:1px, $style:solid, $color:#111) {
        border: $size $style $color;
    } //边框
    $n:none;
    %ul {
        list-style: $n;
        text-decoration: $n;
    }
    
    body {
        font-size: 12px;
        background-color: rgb(255, 247, 247);
    }
    
    .nav {
        li {
            @extend %ul;
            float: left;
            height: 36px;
            line-height: 36px;
            color: #969494;
            &:hover .navigation {
                display: block;
            }
            a {
                text-decoration: $n;
                color: #afafaf;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    
    .two-navigation {
        position: relative;
        .navigation {
            position: absolute;
            top: 36px;
            right: 0;
            background-color: #fff;
            text-align: center;
            border-radius: 8px 0 8px 8px;
            line-height: 24px;
            display: none;
            z-index: 99;
            tr {
                td {
                    padding: 10px;
                }
            }
        }
    }
    
    .top-log-li {
        ul {
            padding-left: 0;
            height: 24px;
            margin: 18px 0 15px;
            li {
                text-align: center;
                float: left;
                border: 1px solid;
            }
            ;
        }
    }